<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.ActIdUserMapper" >
  <resultMap id="BaseResultMap" type="rml.model.ActIdUser" >
    <id column="ID_" property="id" jdbcType="VARCHAR" />
    <result column="REV_" property="rev" jdbcType="INTEGER" />
    <result column="FIRST_" property="first" jdbcType="VARCHAR" />
    <result column="LAST_" property="last" jdbcType="VARCHAR" />
    <result column="EMAIL_" property="email" jdbcType="VARCHAR" />
    <result column="PWD_" property="pwd" jdbcType="VARCHAR" />
    <result column="PICTURE_ID_" property="pictureId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID_, REV_, FIRST_, LAST_, EMAIL_, PWD_, PICTURE_ID_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_id_user
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from act_id_user
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="rml.model.ActIdUser" >
    insert into act_id_user (ID_, REV_, FIRST_, 
      LAST_, EMAIL_, PWD_, PICTURE_ID_
      )
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{first,jdbcType=VARCHAR}, 
      #{last,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{pictureId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="rml.model.ActIdUser" >
    insert into act_id_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="rev != null" >
        REV_,
      </if>
      <if test="first != null" >
        FIRST_,
      </if>
      <if test="last != null" >
        LAST_,
      </if>
      <if test="email != null" >
        EMAIL_,
      </if>
      <if test="pwd != null" >
        PWD_,
      </if>
      <if test="pictureId != null" >
        PICTURE_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null" >
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="first != null" >
        #{first,jdbcType=VARCHAR},
      </if>
      <if test="last != null" >
        #{last,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pictureId != null" >
        #{pictureId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="rml.model.ActIdUser" >
    update act_id_user
    <set >
      <if test="rev != null" >
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="first != null" >
        FIRST_ = #{first,jdbcType=VARCHAR},
      </if>
      <if test="last != null" >
        LAST_ = #{last,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL_ = #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        PWD_ = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pictureId != null" >
        PICTURE_ID_ = #{pictureId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="rml.model.ActIdUser" >
    update act_id_user
    set REV_ = #{rev,jdbcType=INTEGER},
      FIRST_ = #{first,jdbcType=VARCHAR},
      LAST_ = #{last,jdbcType=VARCHAR},
      EMAIL_ = #{email,jdbcType=VARCHAR},
      PWD_ = #{pwd,jdbcType=VARCHAR},
      PICTURE_ID_ = #{pictureId,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>